<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="興安國宅社區App">
  <ion-content class="has-header">
    <div class="list">
        <a class="item item-thumbnail-left" href="#/main/remote">
          <img src="/images/eye.png">
          <h2>智慧</h2>
          <p>遙控/監控我的家</p>
        </a>

        <a class="item item-thumbnail-left" href="#/main/board">
          <img src="/images/notes.png">
          <h2>公告</h2>
          <p>社區公告</p>
        </a>

        <a class="item item-thumbnail-left" href="#/main/119">
          <img src="/images/antenna.png">
          <h2>緊急回報</h2>
          <p>緊急事件發生，通知管理站</p>
        </a>

        <a class="item item-thumbnail-left" href="#/main/feedback">
          <img src="/images/pen.png">
          <h2>大聲公</h2>
          <p>我們歡迎您告訴我們您的想法讓社區更好</p>
        </a>
    </div>
  </ion-content>
</ion-view>
